# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Debug/STPixelShader.cso
Debug/STVertexShader.cso
Debug/Test.exe
Debug/Test.ilk
Debug/Test.pdb
Test.opensdf
Test/Debug/BaseMesh.obj
Test/Debug/cl.command.1.tlog
Test/Debug/CL.read.1.tlog
Test/Debug/CL.write.1.tlog
Test/Debug/Main.obj
Test/Debug/Test.Build.CppClean.log
Test/Debug/SimpleTriangleMesh.obj
Test/Debug/Test.lastbuildstate
Test/Debug/Test.log
Test/Debug/Test.write.1.tlog
Test/Debug/vc110.idb
Test/Debug/FXC.command.1.tlog
Test/Debug/fxc.read.1.tlog
Test/Debug/fxc.write.1.tlog
Test/Debug/GraphicsEngine.obj
Test/Debug/link-cvtres.read.1.tlog
Test/Debug/link-cvtres.write.1.tlog
Test/Debug/link-rc.read.1.tlog
Test/Debug/link-rc.write.1.tlog
Test/Debug/link.command.1.tlog
Test/Debug/link.read.1.tlog
*.tlog
Test/Debug/vc110.pdb
Test/Debug/Camera.obj
Release/STPixelShader.cso
Release/STVertexShader.cso
Release/Test.exe
Release/Test.pdb
Test/Release/BaseMesh.obj
Test/Release/Camera.obj
Test/Release/GraphicsEngine.obj
Test/Release/Main.obj
Test/Release/SimpleTriangleMesh.obj
Test/Release/Test.lastbuildstate
Test/Release/Test.log
Test/Release/vc110.pdb
Test.sdf
Test.sdf